{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('Style/contenu/RegisterPage.css') }}">
{% endblock %}
{% block content %}
<main>
    <form method="post" class="formulaireInscription">
        <h2> Connectez vous : </h2>
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}

        <div class="Form1X1">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                autocomplete="email" required autofocus>
        </div>
        <div class="Form1X1">

            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        </div>
        <div class="FormBouton">
            <button type="submit">
                Sign in
            </button>
        </div>

        <a href="/register">
            Pas de compte ?
        </a>


    </form>
</main>



{% endblock %}