{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('Style/contenu/Compte.css') }}">
{% endblock %}
{% block content %}


<main>
    {% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>
        <p>Adresse mail : {{ app.user.email }}</p>
    </div>
</main>


{% endblock %}